body {
  --tab-stacked-pane-width: 100%;
  background-color: #1a1a1a;
 
}

.theme-dark.minimal-nord-dark, .theme-light.minimal-nord-light.minimal-light-contrast .mod-left-split, .theme-light.minimal-nord-light.minimal-light-contrast .titlebar, .theme-light.minimal-nord-light.minimal-light-contrast .workspace-drawer.mod-left, .theme-light.minimal-nord-light.minimal-light-contrast .workspace-ribbon.mod-left:not(.is-collapsed), .theme-light.minimal-nord-light.minimal-light-contrast.minimal-status-off .status-bar {
  --bg2: #1a1a1a;
}

body:not(.minimal-status-off) .status-bar {
  background-color: #232323;
  color: #3FD723;
}

.obsidian-icon-folder-icon {
    margin: 2px 4px 3px -8px !important;
    color: rgb(150 212 32) !important;
  }

.obsidian-icon-folder-icon {
    border: 0.5px dashed #ff1313;
    display: flex;
    align-self: center;
    padding: 0.25rem;
}

.note-title-underline.note-title-underline .workspace .mod-root .workspace-tabs.mod-stacked .workspace-tab-container .workspace-tab-header {
	border-right: 1px solid var(--note-title-border-color);
}

.inline-title {
    font-weight: var(--inline-title-weight);
    font-size: var(--inline-title-size);
    line-height: var(--inline-title-line-height);
    font-style: var(--inline-title-style);
    font-variant: var(--inline-title-variant);
    font-family: 'Hack Nerd Font';
    margin-bottom: var(--inline-title-margin-bottom);
    letter-spacing: -0.015em;
    color: var(--inline-title-color);
}

.nav-file-title, .nav-folder-title {
    margin-bottom: var(--size-2-1);
    display: flex;
    border-radius: var(--radius-s);
    cursor: var(--cursor);
    color: var(--nav-item-color);
    font-size: 1.1255rem;
    font-weight: var(--nav-item-weight);
    line-height: var(--line-height-tight);
}

.nav-folder .nav-folder-title .nav-folder-title-content:before {
  display: none;
}


.nav-folder.is-collapsed .nav-folder-title .nav-folder-title-content:before {
  display: none;
}

.obsidian-icon-folder-icon {
	margin: 1px 4px 0px -8px !important;
	color: rgb(150 212 32) !important;
}

.nav-file-title-content, .search-result-file-title, .search-result-file-match {
	font-size: 1rem;
}


